.main {
    position: relative;
    background: rgb(50, 50, 50);
    height: 100vh;
    text-align: center;
    padding-top: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

li {
    position: relative;
    display: inline-block;
    padding: 10px;
}

li:after {
    content: "";
    display: block;
    margin: auto;
    height: 5px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

li:hover:after {
    width: 100%;
    background: greenyellow;
}